{% extends "layout.html" %}

{% block title %}
    Châu Đốc
{% endblock %}

{% block thumbnail %}
<br>
<img src="/static/ChauDoc/ThumbChauDoc.png"  style="width:100%">
{% endblock %}
{% block section1 %}
    <h1 class="title1">ĐỊA ĐIỂM</h1>
    <hr>
    <h1>1. Miếu Bà Chúa Xứ Núi Sam</h1>
    <br>
    <img src="/static/ChauDoc/MieuBaChuaXu.jpg" width="600" height="400">
    <br><br>
    <p>
        Miếu Bà Chúa Xứ Núi Sam Châu Đốc là địa điểm quen thuộc trong cẩm nang du lịch của mọi người khi nhắc đến du lịch An Giang. Tọa lạc dưới chân núi Sam, miếu Bà Chúa Xứ Núi Sam là địa điểm du lịch Châu Đốc nổi tiếng với hàng triệu tín đồ hành hương đến tham quan, chiêm bái, dâng lễ cầu xin bình an, tài lộc vào mỗi năm.
    </p>
    <img src="/static/ChauDoc/LeHoiViaBa.jpg" width="600" height="400">
    <br><br>
    <p>
        Hằng năm, Lễ hội vía bà Chúa Xứ Núi Sam diễn ra từ ngày 23 đến 27/4 âm lịch, thu hút đông đảo mọi người từ khắp nơi đổ về tham gia trẩy hội. Đây là một lễ hội tái hiện sinh động về dấu ấn lịch sử thời kỳ người Việt đến vùng đất An Giang, nhằm cầu nguyện và tưởng nhớ công lao người mở cõi, giúp dân dẹp loạn, ban mưa thuận gió hòa cho vùng đất phía tây nam Tổ Quốc.
    </p>

    <h1>2. Lăng Thoại Ngọc Hầu</h1>
    <br>
    <img src="/static/ChauDoc/LangThoaiNgocHau.jpg" width="600" height="400">
    <br><br>
    <p>
        Lăng Thoại Ngọc Hầu (còn được gọi là Sơn Lăng) không chỉ là địa điểm du lịch Châu Đốc được nhiều người đến viếng thăm, mà còn mang một dấu ấn văn hóa lịch sử, có ý nghĩa rất quan trọng. Công trình này nhằm để tưởng niệm ông Thoại Ngọc Hầu - người có công khai khẩn và trấn giữ vùng đất An Giang rộng lớn.
    </p>
    <p>
        Lăng Thoại Ngọc Hầu có khuôn viên khá rộng, được bao bọc bởi tường thành xây quanh và cánh cổng vào được đúc thành hình bán nguyệt, tạo nên thế vững chãi và chắc chắn. Ngoài việc viếng lăng mộ, bạn còn có cơ hội tham quan nhà trưng bày các hiện vật cổ quý hiếm, mang giá trị cao về lịch sử văn hóa.
    </p>
    <p>
        Lăng Thoại Ngọc Hầu là công trình kiến trúc cổ đặc sắc, tiêu biểu dưới thời phong kiến và được xếp loại di tích lịch sử cấp quốc gia của Việt Nam vào năm 1997.
    </p>

    <h1>3. Chùa Hang</h1>
    <br>
    <img src="/static/ChauDoc/ChuaHang1.jpg" width="600" height="400">
    <br><br>
    <p>
        Chùa Hang (Phước Điền Tự) tọa lạc trên triền núi Sam, là một trong những địa điểm du lịch Châu Đốc cho tín đồ hành hương đến chiêm bái. Xung quanh ngôi chùa được bao bọc bởi núi non hùng vĩ cùng nhiều loài hoa khoe sắc thắm quanh năm, tạo thành một bức tranh nên thơ cho chùa Hang cổ kính.
    </p>
    <p>
        Khuôn viên chùa được xây dựng với nhiều điểm tham quan như: Chánh điện, đường hang dũng mãnh, hồ liên trì hải hội, sân tiên, tàng kinh các.... Ngôi chùa được thiết kế hài hòa với tông màu đỏ làm chủ đạo, lợp ngói ống, cột và mái chạm khắc tinh xảo, lối đi được lát đá theo bậc thang thuận tiện di chuyển.
    </p>
    <img src="/static/ChauDoc/ChuaHang2.jpg" width="600" height="400">
    <br><br>
    <p>
        Vãn cảnh chùa Hang, thành tâm cầu bình an và tận hưởng vẻ đẹp an lạc nơi cửa Phật, là một liệu pháp giúp bạn xoa dịu tâm hồn, xua tan đi những điều mệt mỏi, lo toan trong cuộc sống.
    </p>

    <h1>4. Chùa Huỳnh Đạo</h1>
    <br>
    <img src="/static/ChauDoc/ChuaHuynhDao1.jpg" width="600" height="400">
    <br><br>
    <p>
        Chùa Huỳnh Đạo được xây dựng năm 1996 theo lối kiến trúc Trung Hoa với không gian rộng lớn, đây là nơi được khách thập phương và Phật tử đến tham quan, chiêm bái. Ban đầu ngôi chùa chỉ có ngôi Tam Bảo, sau đó mới tiếp tục xây dựng thêm gác chuông, Quan Âm các… tạo nên một khuôn viên hoành tráng như hiện tại.
    </p>
    <p>
        Chùa Huỳnh Đạo sở hữu khuôn viên rộng đến 3.000 m2 với hơn 50 bức tượng Phật bằng đá với nhiều tư thế dáng vẻ khác nhau. Trong đó, phải nhắc đến bức tượng Phật bà Quan âm trong tư thế ngồi thiền cao hơn 30 mét, càng tạo thêm vẻ uy nghi, trang trọng cho ngôi chùa.
    </p>
    <img src="/static/ChauDoc/ChuaHuynhDao2.jpg" width="600" height="400">
    <br><br>
    <p>
        Vào mỗi dịp Tết đến, ngôi chùa là một trong những địa điểm du lịch Châu Đốc có nhiều Phật tử về đây lễ Phật, viếng chùa, cầu mong gia đạo bình an, may mắn.
    </p>
    <p>
        Không những thế, ở trong khuôn viên chùa có một hồ sen rộng, phía trên là nhà thủy tạ với hình ảnh chín con rồng đại diện cho vùng đồng bằng sông Cửu Long, là một địa điểm check-in “thần thánh” mà nhiều tín đồ du lịch An Giang phải tìm đến sống ảo.
    </p>

    <h1>5. Cáp Treo Núi Sam</h1>
    <br>
    <img src="/static/ChauDoc/CapTreoNuiSam.jpg" width="600" height="400">
    <br><br>
    <p>
        Mặc dù vừa được đưa vài khai thác trong thời gian gần đây, nhưng Khu du lịch cáp treo Núi Sam đã thu hút không ít sự quan tâm của tín đồ du lịch. Đến với cáp treo núi Sam, bạn không những được trải nghiệm cảm giác rẽ gió, săn mây mà còn được mãn nhãn với những công trình kiến trúc thu nhỏ đến từ mọi miền đất nước như: Chùa Một Cột, nhà thờ Đức Bà, đền Dược Sư…
    </p>
    <p>
        Bên cạnh đó, nhà ga trạm cáp treo được mô phỏng theo lối kiến trúc châu Âu, là một địa điểm du lịch Châu Đốc tuyệt vời cho mọi tín đồ đam mê sống ảo.
    </p>

    <h1>6. Victoria Núi Sam Lodge</h1>
    <br>
    <img src="/static/ChauDoc/VictoriaNuiSam.jpg" width="600" height="400">
    <br><br>
    <p>
        Được xây dựng theo phong cách tối giản, hoà quyện với thiên nhiên xung quanh, Victoria Núi Sam xứng đáng là một nơi nghỉ dưỡng đáng đồng tiền bát gạo nhất tại Châu Đốc.
    </p>
    <p>
        Victoria Núi Sam với thiết kế hồ bơi vô cực tuyệt đẹp, cho bạn trải nghiệm tầm nhìn không giới hạn để thưởng thức toàn cảnh đồng lúa xung quanh, đặc biệt đây còn là địa điểm du lịch Châu Đốc có view ngắm hoàng hôn núi Sam lý tưởng nhất.
    </p>
{% endblock %}

{% block section2 %}
    <h1 class="title1">ẨM THỰC</h1>
    <hr>
    <h1>• Bún Cá Châu Đốc</h1>
    <br>
    <img src="/static/ChauDoc/BunCa.jpg" width="600" height="400">
    <br><br>
    <p>
        Đây là món bún cá có phần nước lèo được nấu từ nước ninh xương, cá lóc và tôm khô. Món ăn này ngoài bún và cá ra còn có một số nguyên liệu khác như nghệ tươi, mắm ruốc, tỏi, sả và ớt.
    </p>
    <p>
        Như bao món bún khác, bún cá lóc Châu Đốc thu hút vị giác của thực khách bằng nước lèo. Nước dùng của món ăn này được nấu từ nước hầm xương heo với thịt cá lóc xào nghệ và các loại mắm linh, mắm ruốc. Được phối hợp từ các nguyên liệu đặc trưng nên nước lèo của bún cá Châu Đốc có hương vị ngọt thanh, thơm nồng vị mắm và mang sắc vàng nghệ bắt mắt.
    </p>
    <p>
        Bún cá Châu Đốc ngon nhất khi ăn cùng rất nhiều loại rau dân dã của miền sông nước như bông điên điển, bắp chuối, rau đắng, bông súng, rau nhút. Nước mắm cay và muối ớt là hai gia vị chấm ăn cùng bún cá, gắp một miếng cá mềm chấm mắm ớt cho vào miệng, miếng cá thấm gia vị nước lèo, đậm mùi mắm cay có lẽ là trải nghiệm vị giác khiến bạn phải nhớ mãi về món bún này.
    </p>

    <h1>• Lẩu Cá Bông Lau Châu Đốc</h1>
    <br>
    <img src="/static/ChauDoc/LauCaBongLau.jpg" width="600" height="400">
    <br><br>
    <p>
        Lẩu cá bông lau Châu Đốc “lấy lòng” khách hàng bằng nước lẩu chua thanh bắt vị. Nước lẩu được nấu bằng nước dừa tươi kết hợp cùng nước me chua, được nêm nếm gia vị chuẩn Châu Đốc. Sau khi nước lẩu sôi, nhân vật chính của món ăn là cá bông lau chiên giòn sẽ được thả vào nấu cùng và được vớt ra khi nước sôi 1-2 lần
    </p>
    <p>
        Lẩu cá bông lau Châu Đốc có cách ăn như bao mon lẩu khác, lẩu sẻ ăn cùng với các loại rau đặc trưng của miền Tây sông nước như rau dừa nước, rau đắng, bông so đũa,...
    </p>
    <p>
        Cá bông lau tươi có đặc điểm thịt ngọt và chắc, ít xương, béo nhẹ, khi được nấu trong nước lẩu đặc biệt thấm gia vị. Khi ăn lẩu cá bông lau, ai biết ăn sẽ ăn thịt cá nóng hổi cùng nước mắm ngon có ớt cay xè, vị cá béo nhẹ kết hợp với cái mằn mặn cay cay của nước mắm sẽ khiến mọi giác quan của bạn được đánh thức, nó ngon đến nỗi bạn chỉ có thể nhắm mắt và cảm nhận.
    </p>

    <h1>• Bánh Bò Thốt Nốt</h1>
    <br>
    <img src="/static/ChauDoc/BanhBoThotNot.jpg" width="600" height="400">
    <br><br>
    <p>
        Bánh bò thốt nốt có vàng đẹp mắt, màu vàng này là màu tự nhiên của đường thốt nốt nguyên chất. Loại bánh bò này mềm mịn, hơi có mùi men, bánh mềm khi ăn vào có vị ngọt nhẹ đến từ đường thốt nốt, béo béo của vị nước cốt dừa.
    </p>
    <p>
        Để làm được một mẻ bánh bò với chất bánh mềm mại, nhiều hình dạng rễ tre bên trong, bột làm bánh nên là bột gạo Nàng Khen, cơm rượu để kích thích bột lên men và bàn tay điệu nghệ của người làm bánh lâu năm. Bánh bò thốt nốt có nhiều hình dạng tròn vuông khác nhau, có chỗ ăn bánh bò thốt nốt không, nhưng có chỗ lại thêm nước cốt dừa, cơm dừa nạo và mè rang ăn cùng.
    </p>
    <p>
        Nếu đã cất công đi xa, bạn nhất định đừng quên thưởng thức món đặc sản Châu Đốc An Giang này nhé, thơm ngon bình dân nhưng lại đậm chất Châu Đốc, rất phù hợp để ăn dọc đường và mua về làm quà
    </p>

    <h1>• Mắm Châu Đốc</h1>
    <br>
    <img src="/static/ChauDoc/MamChauDoc.jpg" width="600" height="400">
    <br><br>
    <p>
        Châu Đốc - An Giang là vùng đất có sản lượng cá tôm dồi dào, nên ở đây cho ra đời rất nhiều loại mắm thơm ngon. Nếu bạn là người thích các loại mắm của Việt Nam nhất định phải mua mắm ở Châu Đốc về thưởng thức. Đi vào các khu chợ, bạn sẽ dễ dàng tìm thấy vô vàn các loại mắm từ mắm thái, mắm chèn, mắm chốt,...
    </p>
    <p>
        Các loại mắm này được ăn theo nhiều cách khác nhau như ăn liền, làm mắm chưng, kho, chiên, nấu lẩu, các loại bún nước lèo. Ăn mắm Châu Đốc nhất định phải ăn cùng rau sống thì mới đúng bài, một nắm rau sống vừa miệng chấm hoặc cuốn một miếng mắm ăn liền hoặc ăn với cơm sẽ khiến các cung bậc vị giác được thức tỉnh.
    </p>

    <h1>• Cá Lóc Nướng Trui</h1>
    <br>
    <img src="/static/ChauDoc/CaLocNuong.jpg" width="600" height="400">
    <br><br>
    <p>
        Miền tây nổi tiếng với các món cuốn độc đáo, nếu đến một địa phương thuộc Tây Nam Bộ như Châu Đốc - An Giang mà không thưởng thức món cá lóc nướng trui cuốn bánh tráng ở đây, thì sẽ tiếc nuối lắm đấy bạn.
    </p>
    <p>
        Với phong cách ăn uống dân dã và mộc mạc, cá lóc nướng trui được chế biến rất giản đơn. Cá lóc đồng được làm sạch, sẽ được nướng trên lửa than hồng sao cho vừa chín đến để cá vừa ngọt, vừa săn thịt.
    </p>
    <p>
        Phần thịt trắng của cá lóc nướng nóng hổi, sẽ được cuốn cùng với bánh tráng và các loại rau sống, khế chua, chuối chát. Đến đây bạn vẫn nghĩ món này hơi nhạt đúng không, nhưng không đâu, món ăn này phải chấm cùng mắm me chua chua ngọt ngọt cay cay hoặc nước mắm tỏi ớt chua ngọt. Rau xanh tươi mát, thịt cá săn và ngọt hòa quyện cùng nước chấm mang đậm hương vị miền tây sẽ khiến bạn cảm nhận rõ rệt nét ẩm thực độc đáo, dân dã của Châu Đốc - An Giang.
    </p>
{% endblock %}

{% block section3 %}
    <h1 class="title1">PHƯƠNG TIỆN</h1>
    <hr>
    <h1>Phương tiện đi Châu Đốc</h1>
    <p>
        Hiện nay từ TP. HCM đi Châu Đốc, du khách có thể đi từ bến xe miền Tây. Khoảng cách: 259km. Thời gian di chuyển: 5.6 giờ. Giá vé trung bình là 140.00đ/ vé. Các loại xe gồm có: xe giường nằm 45 hoặc 46 chỗ, xe 40 chỗ, xe 16 chỗ, xe limousine… Khung giờ xuất phát cũng rất đa dạng, bạn có thể ra bến xe và hỏi vé xe của bất kỳ nhà xe nào.
    </p>
    <p>
        Một số nhà xe có tuyến đi Châu Đốc từ TP Hồ Chí Minh như: Phương Trang, Hùng Cường, Vĩnh An, Tuấn Tú, Hòa Hiệp, Kim Kim Mai, Huệ Nghĩa, Kim Hương, Liên Hưng, Nam Phát…
    </p>
    <p>
        Mỗi nhà xe sẽ trả khách ở nhiều địa điểm khác nhau như: Thoại Sơn, Chùa Bà Châu Đốc, An Phú, Tịnh Biên, Chi Lăng, Tri Tôn… Du khách nên hỏi trước nhà xe để biết điểm trả khách vần với khu vực mình cần đến.
    </p>
    <br>

    <h1>Phương Tiện Đi Lại Ở Châu Đốc</h1>
    <p>
        Du khách có thể sử dụng xe máy, ô tô, taxi để khám phá các điểm tham quan ở Châu Đốc và các huyện lân cận. Bạn cũng có thể đi thuyền, phà để qua làng Chăm, làng cá bè.
    </p>
    <p>
        Nhưng phương tiện hấp dẫn nhất vẫn là sử dụng xe lôi kéo. Đây là một phương tiện được xem như biểu tượng văn hóa của Châu Đốc từ xưa đến nay. Du khách có thể dễ dàng thấy loại xe này rất nhiều trên đường phố.
    </p>
{% endblock %}

{% block section4 %}
    <div class="container mt-3">
        <form action="/chaudoc" method="POST">
        <input class="form-control w-auto" placeholder="Nhập tên của bạn" name="ten">
        <div class="mb-3 mt-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" placeholder="Viết bình luận..." id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Bình Luận</button>
        </form>
    </div>
    <main class="container-fluid py-5 text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-start">Các bình luận:</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(count[0]["count"]) %}
            <tr>
              <td class="text-start">
                <p> {{ comments[i]["date"] }} </p>
                <p> From {{ comments[i]["username"] }}: </p>
                <p> {{ comments[i]["comment"] }} </p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </main>
{% endblock %}