{% extends "layout.html" %}

{% block title %}
    Long Xuyên
{% endblock %}

{% block thumbnail %}
    <br>
    <img src="/static/LongXuyen/ThumbLongXuyen.png"  style="width:100%">
{% endblock %}

{% block section1 %}
    <h1 class="title1">ĐỊA ĐIỂM</h1>
    <hr>
    <h1>1. Chợ Nổi Long Xuyên</h1>
    <br>
    <img src="/static/LongXuyen/ChoNoi.jpg" width="600" height="400">
    <br><br>
    <p>Chợ nổi miền Tây nói chung và chợ nổi Long Xuyên nói riêng không chỉ là hoạt động buôn bán, sinh hoạt đời thường mà còn thể hiện nét văn hóa đặc trưng của người dân vùng Đồng bằng sông Cửu Long.</p>
    <p>Không nổi tiếng bằng chợ nổi Cái Răng tại Cần Thơ hay chợ Ngã Năm, Ngã Bảy Phụng Hiệp An Giang nhưng quy mô của chợ nổi Long Xuyên cũng không hề nhỏ. Mỗi phiên chợ tại đây trải dài hơn 2km dọc theo con sông Hậu và luôn tấp nập kẻ bán người mua với hàng trăm ghe xuồng tập trung mua bán và trao đổi hàng hoá các loại vô cùng đa dạng từ đồ ăn sáng đến trái cây đến thực phẩm, đồ dùng,...</p>
    <p>Lưu ý là chợ họp rất sớm nên bạn hãy thức dậy vào sáng sớm, từ khoảng 5h - 7h để vừa được đón bình minh trên sông vửa được thưởng thức bữa sáng “lênh đênh” trên xuồng má rồi du ngoạn dọc theo chợ ngắm cảnh buôn bán tấp nập. Đó là trải nghiệm thú vị lắm đấy nhé. Danh sách các món ăn sáng thường được bán tại chợ nổi vô cùng đa dạng và hấp dẫn, từ bún cá, bún riêu, cơm tấm, hủ tiếu, bánh tằm,... đặc biệt là những ly cà phê vợt đá đập với hương vị thơm ngon, ngọt ngào chắc chắn sẽ khiến bao tâm hồn mê ăn uống chao đảo đấy. Vừa được ăn uống thỏa thích với giá cự phải chăng vừa được trò chuyện cùng các cô chú bán hàng dễ thương và tận hưởng cảm giác chill theo sóng nước sông Hậu hứa hẹn sẽ là một trải nghiệm đáng nhớ cho hành trình check in Long Xuyên của bạn đó.</p>

    <h1>2. Nhà Thờ Chánh Toà Long Xuyên</h1>
    <br>
    <img src="/static/LongXuyen/NhaThoChanhToa.jpg" width="600" height="400">
    <br><br>
    <p>Được xem là một trong những địa điểm du lịch Long Xuyên nổi tiếng, nhà thờ nằm ngay khu vực trung tâm thành phố.</p>
    <p>Công trinh tôn giáo này được xây dựng vào năm 1958 và ngay khi ra đồi, nhà thờ chánh tòa đã được xem là biểu tượng đặc trưng của vùng đất Long Xuyên, An Giang. Ghé thăm nơi này, bạn sẽ cảm nhận được thiết kế độc đáo, lối kiến trúc cổ điển điểm xuyết bởi những họa tiết được chạm khắc tinh xảo và tỉ mỉ từ ngoài vào trong.</p>

    <h1>3. Bảo Tàng An Giang</h1>
    <br>
    <img src="/static/LongXuyen/BaoTang.jpg" width="600" height="400">
    <br><br>
    <p>Bảo tàng An Giang là nơi trưng bày hiện vật và các tư liệu lịch sử, văn hóa của tỉnh An Giang. Các hiện vật tuy vẫn chiếm số lượng khiêm tốn nhưng được sắp xếp, thiết kế theo từng khu vực riêng theo chủ đề lịch sử khác nhau. Vì vậy khi đến đây, bạn tha hồ tìm hiểu và học hỏi thêm được nhiều kiến thức lịch sử và khảo cổ bổ ích.</p>
    <p>Địa điểm du lịch Long Xuyên này còn sở hữu khuôn viên rộng rãi, thoáng mát và có nhiều góc check in đẹp phía ngoài nên đừng quên chọn cho mình vài nơi chụp ảnh đẹp khi đến đây nhé.</p>

    <h1>4. Hồ Nguyễn Du</h1>
    <br>
    <img src="/static/LongXuyen/HoNguyenDu.jpg" width="600" height="400">
    <br><br>
    <p>Hầu hết các đô thị miền Tây đều có hồ nước nằm trong lòng thành phồ. Bến Tre có hồ Trúc Giang, Mỹ Tho (Tiền Giang) có khu hồ Giếng Nước, Trà Vinh có ao Bà Om nổi tiếng và Long Xuyên cũng có hồ Nguyễn Du với không gian thoáng đãng, mát mẻ, trong lành.</p>
    <p>Hồ Nguyễn Du có vị trí thuận lợi cho việc tham quan vì nằm trên góc đường Lê Lợi và Nguyễn Du với hai hàng cây xanh trải dài thẳng tắp xung quanh, che bóng mát cho du khách ngồi nghỉ và cả người đi đường. Vì vậy mà nơi đây thu hút rất nhiều dân địa phương cùng khách du lịch đến để hóng gió, vui chơi, trò chuyện, tản bộ, tập thể dục, hít thở không khí trong lành ngay trong thành phố.</p>

    <h1>5. Trại Cá Sấu</h1>
    <br>
    <img src="/static/LongXuyen/TraiCaSau.jpg" width="600" height="400">
    <br><br>
    <p>Địa điểm du lịch Long Xuyên này tọa lạc ở một vị trí thuận tiện cho việc đi lại sở hữu không gian thoáng đãng, mát mẻ, hứa hẹn sẽ mang đến cho bạn chuyến vui chơi đầy thú vị.</p>
    <p>Trại cá sấu đã được xây dựng cách đây hơn 20 năm với 10.000 con cá sấu. Nơi đây khá nổi tiếng và được nhiều du khách chọn làm nơi để vui chơi, giải trí sau những ngày làm việc, học tập mệt mỏi. Ngoài khu vực tham quan và vui chơi thì nơi đây còn bán nhiều đồ lưu niệm được làm từ cá sấu. Gần đây trang trại này đã chuyển đổi thành mô hình trang trại kết hợp với nhà hàng ăn uống. Địa điểm này được thiết kế như một trạm dừng chân với đầy đủ dịch vụ ăn uống giữa khuôn viên mát mẻ. Vì vậy, bạn có thể ghé trải nghiệm, ăn uống và chọn vào quầy lưu niệm để chọn mua quà về tặng người thân, bạn bè nhé.</p>

{% endblock %}

{% block section2 %}
    <h1 class="title1">ẨM THỰC</h1>
    <hr>
    <h1>• Bún Cá Long Xuyên</h1>
    <br>
    <img src="/static/LongXuyen/BunCaLongXuyen.jpg" width="600" height="400">
    <br><br>
    <p>Món đặc sản Long Xuyên đầu tiên và cũng là món nổi tiếng nhất chính là bún cá. Để nấu bún cá không khó nhưng rất kỳ công và đòi hỏi người nấu phải có sự khéo léo. Cá dùng để nấu bún cá phải là cá tươi, được làm sạch sẽ rồi luộc chính. Sau khi luộc cá xong các bạn phải gỡ bỏ xương, chỉ lấy phần thịt và ướp cùng với bột nghệ sau đó xào sơ qua để gia vị ngấm vào cá. </p>
    <p>Nước dùng chính là yếu tố then chốt làm nên món ăn này. Người ta không chỉ sử dụng xương heo để nấu mà còn lấy cả nước luộc cá và nên nếm thêm các gia vị khác. </p>
    <p>Khi đã có đầy đủ các nguyên liệu sẽ xếp vào trong tô lần lượt bún, cá, bắp chuối, rau muống thái mỏng, rau răm và chan thêm nước dùng nóng hổi lên. Ngoài ra, món ăn này còn phải có cả một chén muối ớt chanh để chấm mới đúng vị. Giá của một tô bún cá Long Xuyên chỉ từ 20.000 đến 25.000 đồng mà thôi.</p>

    <h1>• Bánh Xèo Long Xuyên</h1>
    <br>
    <img src="/static/LongXuyen/BanhXeoLongXuyen.jpg" width="600" height="400">
    <br><br>
    <p>Nhắc tới đặc sản Long Xuyên thì không thể bỏ qua được món bánh xèo thơm ngon vàng ruộm. Bánh được làm từ bột gạo, bột nghệ và muối. Nhân bánh bao gồm thịt heo, tôm, giá đỗ, đậu xanh,..</p>
    <p>Cách làm món bánh xèo tương đối dễ. Các bạn chỉ cần bắc chảo lên bếp, cho dầu vào, chờ tới khi dầu nóng thì đổ bột lên. Tiếp đến cho nhân bánh vào rồi đợi tới khi bánh giòn thì gấp đôi bánh lại và lấy ra đặt lên đĩa. Bánh xèo thường được ăn cùng với các loại rau sống như: xà lách, cải đắng, tía tô, húng quế, diếp cá, rau thơm,… và chấm cùng với nước mắm chua ngọt.</p>

    <h1>• Lẩu Mắm Long Xuyên</h1>
    <br>
    <img src="/static/LongXuyen/LauMamLongXuyen.jpg" width="600" height="400">
    <br><br>
    <p>Món lẩu mắm chính là một món đặc sản Long Xuyên nói riêng và miền Tây nói chung. Để làm món lẩu này cần phải có các nguyên liệu như mắm cá linh, cá sặc, xả cây, tỏi băm nhuyễn, ớt sừng và cả thịt cá lóc, nghêu, tôm, thịt. Món ăn có nước dùng đậm đà, nguyên liệu phong phú và thường được ăn cùng với cả bông bí, bắp chuối bào, rau nhút, rau đắng, rau muống bào,… cùng mì gói hoặc bún.</p>

    <h1>• Lẩu Cháo Cua Đồng</h1>
    <br>
    <img src="/static/LongXuyen/LauChaoCuaDong.jpg" width="600" height="400">
    <br><br>
    <p>Một món ăn vừa thơm ngon lại rất dân dã được cả người dân miền Tây lẫn du khách gần xa yêu thích chính là lẩu cháo cua đồng. Để làm món đặc sản Long Xuyên này thì cần tới nguyên liệu chính đó là cua đồng. Cua phải tươi ngon, được tách thịt ra rồi đem đi nấu lẩu. Ăn kèm còn có nhiều loại rau xanh khác như rau má, mồng tơi, bồ ngót, mướp hương,… Giá của một nồi lẩu cháo cua đồng rất rẻ, chỉ từ 60.000 đến 70.000 đồng mà thôi.</p>
{% endblock %}

{% block section3 %}
    <h1 class="title1">PHƯƠNG TIỆN</h1>
    <hr>
    <p>Có thể nói Long Xuyên là điểm đến du lịch hấp dẫn. Có rất nhiều những cách thức để di chuyển đến Long Xuyên với nhiều phương tiện khác nhau.</p>
    <p>• Nếu đi từ Hà Nội nên đặt vé máy bay đi Long Xuyên là cách thức di chuyển nhanh chóng và thuận tiện nhất. Ngoài ra cũng có thể đi phượt tự túc nếu thực sự yêu thích.</p>
    <p>• Di chuyển từ Thành phố Hồ Chí Minh có thể di chuyển bằng xe khách (với mức giá chỉ từ 90.000 VNĐ). Long Xuyên cách TP. Hồ Chí Minh khoảng 189 km, không quá xa nên du khách hoàn toàn có thể an tâm. Ngoài ra cũng có thể di chuyển tự túc bằng xe máy chạy dọc theo quốc lộ 1A hướng về Long An, đến Cao Lãnh qua phà đến An Giang. Sau đó tiếp tục đi qua phà An Hòa để đến được Long Xuyên.</p>
    <p>• Di chuyển từ Cần Thơ đến Long Xuyên thường sử dụng xe khách với tuyến phổ biến Cần Thơ - Long Xuyên. Giá vé xe chỉ khoảng 30.000 VNĐ. Chỉ mất 30 phút là bạn đã có thể đặt chân đến và bắt đầu chuyến hành trình du lịch Long Xuyên.</p>
{% endblock %}

{% block section4 %}
    <div class="container mt-3">
        <form action="/longxuyen" method="POST">
        <input class="form-control w-auto" placeholder="Nhập tên của bạn" name="ten">
        <div class="mb-3 mt-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" placeholder="Viết bình luận..." id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Bình Luận</button>
        </form>
    </div>
    <main class="container-fluid py-5 text-center">
        <table class="table table-striped">
        <thead>
            <tr>
            <th class="text-start">Các bình luận:</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(count[0]["count"]) %}
            <tr>
            <td class="text-start">
                <p> {{ comments[i]["date"] }} </p>
                <p> From {{ comments[i]["username"] }}: </p>
                <p> {{ comments[i]["comment"] }} </p>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
{% endblock %}