<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="/static/style.css" rel="stylesheet">
        <title>Tân Châu</title>
    </head>
    <body>
        <main data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                <div class="container-fluid">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#section1">Địa Điểm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#section2">Ẩm Thực</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#section3">Phương Tiện</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#section4">Bình Luận</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <br>
              <div><img src="/static/ThumbTanChau.png"  style="width:100%"></div>
              <div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
                <h1 class="title1">ĐỊA ĐIỂM</h1>
                <hr>
                <h1>1. Làng Chăm Châu Giang</h1>
                <br>
                <img src="/static/TanChau/LangCham.jpg" width="600" height="400">
                <br>
                <br>
                <p>
                  Không hề sai khi nhiều du khách cho rằng muốn khám phá văn hóa, đời sống của người Chăm tại An Giang, nhất định phải đến làng Chăm Châu Giang.
                </p>
                <p>
                  Khi check in thánh đường Mubarak bạn sẽ được chiêm ngưỡng kiến trúc lộng lẫy và vô cùng độc đáo. Ngoài ra du khách còn có cơ hội khám phá tập tục sinh sống nhà sàn và tín ngưỡng Hồi giáo dưới bóng thánh đường.
                </p>
                <p>
                  Địa điểm du lịch Tân Châu này chỉ nằm cách Châu Đốc một con sông. Ban đầu, làng được tạo thành từ một khu xóm nhỏ có đông dân tộc người Chăm sinh sống. Qua thời gian dài sinh sống, định cư, ngôi làng càng mang dấu ấn văn hóa Chăm đậm nét. Ngày nay, đây là điểm dừng chân lý tưởng nhất với những ai có niềm đam mê khám phá văn hóa dân tộc.
                </p>
                <p>
                  Làng Châu Giang là nơi còn lưu giữ vẹn nguyên nhiều nét văn hóa độc đáo trong đời sống vật chất lẫn tinh thần của đồng bào Chăm, mà nổi bật nhất trong số đó chính là nghề dệt thổ cẩm truyền thống đã có từ hàng trăm năm qua. Những mảnh thổ cẩm do chính tay người Chăm dệt thủ công nên rất đẹp và mang đậm nét riêng cùa đồng bào dân tộc thiểu số nơi đây.
                </p>
                <p>
                  Nếu đang có kế hoạch du lịch An Giang, hãy note ngay làng Chăm Châu Giang vào danh sách những điểm nhất định phải ghé thăm nhé. Đặc biệt, nếu may mắn có lịch trình chuyến đi trùng với ngày lễ đặc biệt trong năm của người Chăm nơi đây, bạn sẽ vô cùng thích thú khi được trải nghiệm những hoạt động văn hóa – tín ngưỡng đặc trưng ở Tân Châu đấy.
                </p>

                <h1>2. Chùa Giồng Thành</h1>
                <br>
                <img src="/static/TanChau/ChuaGiongThanh.jpg" width="600" height="400">
                <br><br>
                <p>
                  Công trình tôn giáo nổi tiếng, đồng thời cũng là địa điểm du lịch Tân Châu này còn có tên gọi khác là chùa Long Hưng Tự, nằm cách trung tâm thị xã Tân Châu chỉ hơn 3km.
                </p>
                <p>
                  Chùa thu hút nhiều du khách viếng thăm và tham quan, cầu bình an. Long Hưng Tự có khối kiến trúc hài hòa đẹp mắt và được dựng theo phong cách Á – Âu theo hình chữ “song hỷ”. Diện mạo bên ngoài của ngôi chùa mô phỏng kiến trúc các công trình đền chùa của Ấn Độ với mái tháp hai tầng hình phễu. Các họa tiết và hoa văn trang trí vô cùng trang nhã và tinh tế, mang đến cho du khách nhiều trải nghiệm kiến trúc và văn hóa đặc biệt.
                </p>
                <p>
                  Chùa gồm 3 gian, mái được lợp bằng ngói móc, riêng phía trên cột chánh điện có vẽ hình rồng. Ban đầu, từ năm 1875, chùa được xây dựng bằng tre lá đơn sơ. Qua thời gian, chùa được tu sửa nhiều lần và tọa lạc tại thị xã Tân Châu - tỉnh An Giang.
                </p>
                <p>
                  Chùa Giồng Thành được đánh giá là địa điểm du lịch An Giang linh thiêng, bên cạnh Miếu Bà Chúa Xứ Núi Sam, chùa Ông hay Linh Ẩn Tự. Nhiều khách du lịch đã ghé thăm và cầu an ở đây. Vào ngày rằm và các ngày lễ lớn, chùa là điểm đến thu hút rất đông du khách. Năm 1986, Long Hưng Tự được Nhà nước công nhận, xếp hạng di tích cấp quốc gia.
                </p>

                <h1>3. Thánh Đường Hồi giáo Jamiul Azhar</h1>
                <br>
                <img src="/static/TanChau/ThanhDuongHoiGiao.jpg" width="600" height="400">
                <br><br>
                <p>
                  Thánh đường Masjid Jamiul Azhar tọa lạc tại xã Châu Phong, thị xã Tân Châu, tỉnh An Giang. Địa điểm du lịch - tôn giáo nổi tiếng này được xem là một trong những ngôi thánh đường lâu đời và đẹp nhất ở An Giang.
                </p>
                <p>
                  Công trình sở hữu thiết kế lạ mắt với hai gam màu chính là trắng và xanh ngọc tạo nên diện mạo nhẹ nhàng, thanh thoát nhưng vẫn tôn nghiêm và trang trọng. Với điểm nhấn là những mái vòm cao và rộng đặc trưng của kiến trúc Hồi giáo, Thánh đường hiện lên trước mắt du khách với vẻ đẹp uy nghiêm, trở thành biểu tượng tôn giáo của cư dân đạo Hồi sinh sống nơi đây. Ngày càng có nhiều du khách chọn đây là điểm check-in và khám phá văn hóa tâm linh khi đến vùng đất Tân Châu.
                </p>

                <h1>4. Làng Lụa Tân Châu</h1>
                <br>
                <img src="/static/TanChau/LangLua.jpg" width="600" height="400">
                <br><br>
                <p>
                  Từ xa xưa vùng đất  An Giang đã nổi danh khắp Nam Kỳ Lục Tỉnh với lãnh Mỹ A và lụa Tân Châu. Làng lụa truyền thống nổi tiếng tọa lạc ngay tại thị xã Tân Châu bao gồm nhiều làng nghề khác nhau như: làng nghề dệt tơ lụa Tân Châu, làng nghề dệt chiếu Tân Châu, làng nghề dệt thổ cẩm Châu Phong,… Nhưng nổi tiếng nhất vẫn là làng nghề truyền thống tơ lụa Tân Châu.
                </p>
                <p>
                  Ngay từ những bước chân đầu tiên đến làng lụa, du khách sẽ được tham quan tất cả các công đoạn kỳ công để sản xuất ra những thước lụa mềm mịn. Bạn sẽ được thuyết minh, giải thích và hướng dẫn về các đặc tính của lụa Tân Châu. Sau đó đừng quên chọn cho mình và bạn bè những tấm lụa hay sản phẩm dệt may đẹp về làm quà nhé.
                </p>

                <h1>5. Chùa Núi Nổi</h1>
                <br>
                <img src="/static/TanChau/ChuaNuiNoi.jpg" width="600" height="400">
                <br><br>
                <p>
                  Chùa núi Nổi nằm cách trung tâm thị xã Tân Châu khoảng 9km. Nằm giữa đồng rộng mênh mông trên một ngọn núi nhỏ nên nhìn từ xa, ngôi chùa tựa đang nổi bồng bềnh giữa biển nước và lúa mênh mông. Trên đường đến chùa, du khách sẽ được ngắm nhìn khung cảnh thơ mộng và bình yên, tuyệt đẹp không thua kém đồng thốt nốt ở Tịnh Biên hay cảnh đẹp tựa chốn thiên đường của hồ Latina đâu nhé. Hàng năm chùa thu hút du khách tới thỉnh hương và viếng cảnh.
                </p>
                <p>
                  Với khách du lịch, chùa là một trong những địa điểm du lịch Tân Châu nổi tiếng, còn với người dân địa phương, chùa núi Nổi là chốn linh thiêng để gửi gắm đức tin và cầu bình an cho gia đình, người thân.
                </p>
                <p>
                  Cứ vào khoảng tháng 9 âm lịch hàng năm, người dân Tân Châu và du khách gần xa sẽ háo hức tham gia lễ hội chùa núi Nổi. Hãy kết hợp du lịch bụi Châu Đốc, Tân Châu An Giang và hòa cùng không khí trang nghiêm của lễ hội, tận hưởng những trò vui chơi náo nhiệt do người dân địa phương tổ chức sau khi họ vừa kết thúc việc đồng áng nhé. Đó cũng chính là một sản phẩm du lịch độc đáo dành tặng riêng cho du khách đến từ phương xa đấy.
                </p>
              </div>

              <div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
                <h1 class="title1">ẨM THỰC</h1>
                <hr>
                <h1>ĐẶC SẢN TẠI TÂN CHÂU AN GIANG</h1>
                <br>
                <h1>• Bò leo núi</h1>
                <br>
                <img src="/static/TanChau/boleonui.jpg" width="600" height="400">
                <br><br>
                <p>
                  Ai đã có dịp đi ngang qua vùng đất An Giang thì sẽ rất thích thú với những cảnh đẹp, về văn hóa độc đáo của đồng bào bản địa và một thứ không thể thiếu đó chính là ẩm thực. Tân Châu là nơi có nhiều đặc sản thuộc vào loại độc đáo nhất của An Giang. Món đầu tiên trong danh sách đặc sản Tân Châu An Giang chính là món bò leo núi.
                </p>
                <p>
                  Tuy gọi là bò leo núi nhưng không phải là bò được nuôi ở vùng núi cao mà chỉ là bò nuôi bình thường nhưng trong cách chế biến món ăn đã biến nó trở thành một đặc sản nổi tiếng. Bò được cắt thành từng miếng bự hơn so với món bò nướng thông thường, thịt bò được ướp bằng trứng gà tươi.
                </p>
                <p>
                  Điều độc đáo của món ăn này nằm ở cái vỉ nướng, vỉ được làm bằng gang, ở giữa nhô lên như hình một quả núi. Mỡ heo được khỏa đều trên vỉ sau đó là thịt bò cùng với một lớp bơ vàng óng, các gia vị hòa quyện với nhau tạo nên một món ăn rất độc đáo.
                </p>

                <h1>• Bánh Bò</h1>
                <br>
                <img src="/static/TanChau/banhbo.jpg" width="600" height="400">
                <br><br>
                <p>
                  Bánh bò rễ tre là một trong những đặc sản Tân Châu An Giang độc đáo nhất mà nhất định du khách phải thử qua. Món bánh này mang đến cho du khách hương vị béo ngọt, vị nồng rất đặc trưng của bột lên men. Sở dĩ nó có cái tên gọi bánh bò rễ tre vì mặt cắt ngang của miếng bánh có những ống khí như rễ tre chắc khỏe.
                </p>

                <h1>• Tung Lò Mò (Lạp Xưởng Bò)</h1>
                <br>
                <img src="/static/TanChau/tunglomo.jpg" width="600" height="400">
                <br><br>
                <p>
                  Món tung lò mò là món ăn đặc trưng của đồng bào người Chăm ở khu vực An Giang nói chung và thị xã Tân Châu nói riêng. Người Chăm thì họ không ăn thịt heo mà chỉ ăn thịt bò. Món “tung lò mò” được làm từ những miếng thịt cuối cùng là phần thịt bò vụn tận dụng nốt sau khi làm hai món ăn truyền thống: cà ri bò (học theo người Ấn Độ) và cà púa (theo cách của người Thái Lan).
                </p>
                <p>
                  Cũng giống như lạp xưởng, thưởng thức “tung lò mò” tuyệt nhất là nướng (kilete) hoặc chiên (chuh), nhưng phải còn nóng mới không có mùi tanh của mỡ bò. “Tung lò mò” nướng nên chín tới đâu, ăn tới đó. Bạn sẽ thấy vị ngọt bùi của thịt và mỡ bò, vị chua chua của cơm nguội lên men hòa cùng gia vị cay của ớt, lại ăn kèm với rau sống, rau cần tươi, vị chua của khế, vị chát của chuối sống. Lạp xưởng bò khi ăn phải chấm muối tiêu chanh hoặc tương ớt.
                </p>

                <h1>• Mắm Tân Châu</h1>
                <br>
                <img src="/static/TanChau/mam.jpg" width="600" height="400">
                <br><br>
                <p>
                  Một trong số những đặc sản Tân Châu An Giang được nhiều du khách tìm mua chính là món mắm Tân Châu, tuy không được nổi tiếng như người anh em mắm Châu Đốc nhưng mắm Tân Châu cũng có những nét rất riêng để chinh phục thực khách. Ghé chợ Tân Châu du khách sẽ bị bất ngờ với rất nhiều quầy bán mắm vàng ươm nơi đây.
                </p>
                <p>
                  Tân Châu có món mắm cá mè với hương vị rất đặc trưng và độc đáo. Nếu các loại mắm khác chỉ dùng để nấu lẩu hay chưng thì món mắm cá mè có thể chiên lên để ăn. Bí quyết để có món mắm cá mè ngon nằm ở cơm rượu, nó sẽ làm tăng vị ngọt của món mắm độc đáo này.
                </p>

                <h1>• Bánh Hẹ</h1>
                <br>
                <img src="/static/TanChau/banhhe.jpg" width="600" height="400">
                <br><br>
                <p>
                  Tuy nguyên liệu chính để làm bánh hẹ chỉ là bột và hẹ, thế nhưng món bánh dân dã này đã trở thành một trong những loại bánh được yêu thích ở Tân Châu, An Giang. Để chế biến món ăn này, người làm bánh sẽ phải thực hiện khá nhiều công đoạn. Đầu tiên, họ sẽ pha bột gạo với một chút nước sôi rồi nhồi bằng tay cho đến khi thu được một khối bột mềm mịn, dai và không dính tay. Nghe có vẻ đơn giản nhưng bước này đòi hỏi sự khéo léo của người làm bánh vì bột không được quá khô hoặc quá loãng thì bánh làm ra mới ngon.
                </p>
                <p>
                  Tiếp đó, người ta mang những lá hẹ tươi đi rửa sạch sẽ, thái thành những khúc nhỏ và trộn cùng bột. Để món ăn ngon hơn, nhiều người còn cắt thịt tôm tươi hạt lựu, xào chín rồi trộn cùng. Sau khi đã cho gia vị vừa đủ, các nguyên liệu được khuấy đều để hoà quyện với nhau và mang đi hấp chín. Sau đó, bánh hẹ Tân Châu được cắt thành những miếng nhỏ vừa ăn và chiên vàng ruộm trên chảo dầu. Đặc biệt, để bánh hẹ thơm và béo ngậy, người ta thường chiên bánh cùng trứng gà. Khi đó, chiếc bánh sẽ vô cùng bắt mắt với sắc xanh của lá hẹ, màu vàng của trứng và màu trắng của bột gạo. Bánh hẹ Tân Châu được ăn cùng nước tương pha giấm ớt, rau sống và một chút rau thơm.
                </p>

                <h1>• Lía Phơi</h1>
                <br>
                <img src="/static/TanChau/liaphoi.jpg" width="600" height="400">
                <br><br>
                <p>
                  Lía phơi một nắng cực kỳ phổ biến ở vùng đất Bảy Núi - An Giang, đặc biệt khu vực An Phú, Tân Châu xuất hiện rất nhiều. Lía Tân Châu có rất nhiều món chế biến đặc trưng thơm ngon. Tuy nhiên, đối với thế hệ tuổi ở An Giang, lía phơi trở thành một phần gắn liền với tuổi thơ của họ.
                </p>
                <p>
                  Sau khi làm sạch lía, mọi người sẽ đem chúng đi sơ chế cẩn thận bằng các ngâm nước khoảng 10 đến 12 tiếng. Thông thường, mọi người hay để qua đêm. Trước khi đem phơi lía, mọi người sẽ ướp gia vị muối, ớt, bột ngọt. Tất cả hương liệu sẽ để ngâm với lía trong vài giờ đồng hồ. Theo lời kể của người dân địa phương, bí quyết để chế biến lía phơi nắng Tân Châu chuẩn hương vị đó là ướp hai giờ phơi nắng ba tiếng. Sau khi lía đã được phơi nắng vừa đủ, mọi người sẽ trùm một lớp ni-lông lên đó. Việc làm này một phần để giữ hơi nóng lại vừa có thể giữ được nước trong con lía.
                </p>
                <p>
                  Hương vị của lía Tân Châu sau khi một nắng có hương vị đậm đà hơn. Món ăn này cỏ đủ vị mặn, ngọt, giá lại tương đối phải chăng nên mọi người rất yêu thích, nhất là các em học sinh. Lía Tân Châu được bày bán ở khắp nơi. Tuy nhiên, lía một nắng là món ăn thường được đặt bán ở gần trường với giá siêu rẻ. Có thể nói rằng lía Tân Châu chính là tuổi thơ của hầu hết những đứa trẻ sinh sống ở Tân Châu.
                </p>
              </div>

              <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
                <h1 class="title1">PHƯƠNG TIỆN</h1>
                <br>
                <p>
                  Hiện nay, di chuyển đi du lịch An Giang dễ dàng hơn, du khách có thể di chuyển bằng rất nhiều phương tiện khác nhau như: xe máy, xe ô tô, máy bay,...
                </p>
                <p>
                  Nếu bạn xuất phát từ vị trí có khoảng cách xa thì bạn nên lựa chọn máy bay. Du khách sẽ book vé máy bay đi Cần Thơ hoặc book vé máy bay đi Tp.HCM. Sau đó, từ sân bay du khách di chuyển bằng ô tô để tới địa điểm du lịch Tân Châu, An Giang.
                </p>

                <h1>Trải Nghiệm Xe Lôi Tại Tân Châu</h1>
                <br>
                <img src="/static/TanChau/xeloi.jpg" width="600" height="400">
                <br><br>
                <p>
                  Ngày xưa, xe lôi là phương tiện đi lại và vận chuyển hàng hóa của tầng lớp bình dân. Ngày nay, với loại phương tiện thô sơ này, người ta gọi bằng cái tên mỹ miều hơn - xe vua. Theo đó, công dụng và giá trị của nó cũng được nâng lên. Không bị "đóng hộp" trong những chiếc ô tô đóng kín cửa, khi đi bằng xe vua, du khách được tự do ngắm nhìn mọi phía, nghe mọi âm thanh của cuộc sống đời thường, toàn thân được cảm nhận cái nắng và gió của miền Tây.
                </p>
                <p>
                  Dịch vụ xe lôi phục vụ du lịch ở thị xã Tân Châu có từ năm 2009. Trong thời gian đầu, chỉ có khoảng 30 xe lôi phục vụ du khách của tàu du lịch Cánh buồm Đông Dương đi từ Campuchia qua hay từ TP.HCM xuống. Vào thời điểm đó, việc chạy xe lôi mang tính tự phát giống như việc đưa rước khách địa phương. Sau mỗi năm, khi lượng du khách về ngày càng đông, nhu cầu phục vụ xe lôi càng cao, các tài xế xe lôi được quản lý theo hình thức tổ, nhóm với nhiều quy định như: người lái xe phải mặc đồng phục, xe sạch đẹp, thùng xe không được nâng lên cao quá, gây nguy hiểm cho du khách…
                </p>
                <p>
                  Đội xe lôi phục vụ du lịch tại thị xã Tân Châu hiện đã lên đến 80 người với thu nhập bình quân 120.000 đồng/người/ngày. Các tài xế còn kiêm luôn việc giới thiệu cho du khách về vùng đất ven sông Tiền được hình thành từ hơn 260 năm này. Chiếc xe vua hoài cổ đã tình cờ làm nên điều khác biệt. Giờ đây, khi đến với thị xã Tân Châu, du khách còn muốn một lần được ngồi vắt vẻo trên chiếc xe vua xem cuộc đời chầm chậm trôi.
                </p>
              </div>
              <div id="section4" class="container-fluid" style="padding:100px 20px;">
                <div class="container mt-3">
                  <form action="/TanChau.html" method="POST">
                    <input class="form-control w-auto" placeholder="Nhập tên của bạn" name="ten">
                    <div class="mb-3 mt-3">
                      <label for="comment">Comments:</label>
                      <textarea class="form-control" rows="5" placeholder="Viết bình luận..." id="comment" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Bình Luận</button>
                  </form>
                </div>
                <main class="container-fluid py-5 text-center">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-start">Các bình luận:</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range(count[0]["count"]) %}
                      <tr>
                        <td class="text-start">
                          <p> {{ comments[i]["date"] }} </p>
                          <p> From {{ comments[i]["username"] }}: </p>
                          <p> {{ comments[i]["comment"] }} </p>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </main>
              </div>
        </main>
    </body>
</html>