{% extends "layout.html" %}

{% block title %}
    Tịnh Biên
{% endblock %}

{% block thumbnail %}
    <br>
    <img src="/static/TinhBien/ThumbTinhBien.png"  style="width:100%">
{% endblock %}

{% block section1 %}
    <h1 class="title1">ĐỊA ĐIỂM</h1>
    <hr>
    <h1>1. Rừng Tràm Trà Sư</h1>
    <br>
    <img src="/static/TinhBien/RungTramTraSu.jpg" width="600" height="400">
    <br><br>
    <p>Rừng Tràm Trà Sư là điểm đến vô cùng nổi tiếng với người dân khắp mọi nơi. Đến với rừng tràm Trà Sư, các bạn không chỉ bị choáng ngợp bởi vẻ đẹp xanh ngát của hàng cây tràm rợp bóng ở hai bên mà còn được nghe vô vàn âm thanh vui tai của hàng loạt loài chim cư ngụ nơi đây. Điểm đến này chính là ngôi nhà chung bảo tồn rất nhiều tầng lớp sinh vật hiện đang sinh sống trên dải đất miền Tây. Không chỉ phục vụ cho chuyến du ngoạn của mọi người, rừng tràm Trà Sư cũng làm một nơi check-in với phông nền xanh mát vô cùng khác biệt. Đây sẽ là trải nghiệm khó quên mà bạn sẽ được trải nghiệm khi du lịch Tịnh Biên An Giang.</p>
    <p>Khi du lịch Tịnh Biên An Giang và ghé đến rừng tràm Trà Sư, các bạn sẽ được ngồi trên chiếc xuồng ba lá, ngắm nhìn cảnh quan xung quanh một cách chậm rãi và nhẹ nhàng. Bạn sẽ được thỏa thích chiêm ngưỡng từng hàng tràm cao sừng sững, các bãi bèo, những bông hoa sen đua nhau khoe sắc trên mặt nước. Bên cạnh đó, bạn còn có thể đi sâu vào bên trong rừng tràm bằng phương tiện tên tắc ráng. Trong suốt cuộc du ngoạn ấy, các bạn sẽ được các anh, các chị vừa lái tắc ráng vừa kể lại quá trình hình thành cũng như điểm độc đáo tạo nên khu du lịch sinh thái rừng tràm Trà Sư này.</p>

    <h1>2. Núi Cấm</h1>
    <br>
    <img src="/static/TinhBien/NuiCam.jpg" width="600" height="400">
    <br><br>
    <p>Núi Cấm nằm cách trung tâm thành phố Long Xuyên 90km và sở hữu một cảnh quan hùng vĩ, đầy hoang sơ. Theo lời người dân, đây là vùng núi cao với địa hình khó di chuyển, cây cối um tùm nên ẩn sâu không biết bao nhiêu nguy hiểm. Tại Núi Cấm nổi tiếng với sự xuất hiện hàng loạt ngôi chùa giữa không gian bao la nơi núi rừng. Nếu đã đến đây, các bạn hãy ghé thăm ngôi chùa Vạn Linh được xem như một điểm đến được nhiều người dân miền Nam yêu thích. Ban đầu, ngôi chùa được người dân gọi là Chùa Lá bởi sự đơn sơ của những mái tranh cùng với vách đất dựng vào năm 1927. Nhờ vào sự tôn kính từ người dân, ngôi chùa ngày càng được khang trang hơn và thuận lợi trở thành điểm đến linh thiêng nổi tiếng khi du lịch Tịnh Biên An Giang.</p>

    <h1>3. Chùa Phật Lớn</h1>
    <br>
    <img src="/static/TinhBien/ChuaPhatLon.jpg" width="600" height="400">
    <br><br>
    <p>Được dựng xây vào năm 1912 trên mảnh đất rộng ở bên triền núi, điểm đến nổi tiếng này có một tương Phật Di Lặc khổng lồ cao 1,8m được đặt trong khuôn viên chùa. Chùa Phật Lớn xây dựng theo lối kiến trúc truyền thống với các khu được phân chia rạch ròi như chính diện, nhà nghỉ và nhà chuông. Để thuận lợi cho người dân thập phương đổ về cúng bái, nhà chùa đã đặt tượng Phật ở ngoài khuôn viên. Ngoài chùa Phật Lớn, Miếu Bà Chúa Xứ Núi Sam Châu Đốc cũng là một trong những điểm đến có tiếng tăm gắn liền với những lễ hội độc đáo bạn phải ghé thăm khi có dịp du lịch Tịnh Biên An Giang.</p>

    <h1>4. Hồ Otuksa</h1>
    <br>
    <img src="/static/TinhBien/Otuksa.jpg" width="600" height="400">
    <br><br>
    <p>Hồ Otuksa nằm ngay dưới chân Núi Cấm từng là mảnh đất trồng ruộng của người bản địa. Trải qua sự biến đổi địa chất, các mạch nước ngầm của Núi Cấm dần len lỏi qua khe đá tạo nên lòng hồ rộng lớn đến hiện tại. Hồ Otuksa được người dân ví von như hồ nước trời bởi vô cùng trong xanh, phản chiếu được cả bầu trời rộng lớn. Ngoài ra, đây cũng là nguồn nước cung cấp cho các hoạt động sinh hoạt của thị trấn Chi Lăng và các xã lân cận khác. Nếu bạn lo lắng về nơi ở hay việc bạn sẽ không có nơi nào để sống ảo thì đừng ngần ngại đến Otuksa Camp tựa như một homestay ngoài trời thu nhỏ nhé.</p>
{% endblock %}

{% block section2 %}
    <h1 class="title1">ẨM THỰC</h1>
    <hr>

    <h1>• Côn Trùng</h1>
    <br>
    <img src="/static/TinhBien/ConTrung.jpg" width="600" height="400">
    <br><br>
    <p>Một trong những món ăn độc đáo bậc nhất của chợ Tịnh Biên đó là côn trùng. Tại đây, người dân chế biến và bán rất đa dạng các loại côn trùng. Như tắc kè, rắn mối, rắn hổ mang, rắn đuôi chuông, mồi chúa, rết, bò cạp, bìm bịp,... Các loại côn trùng sẽ được người dân chế biến đa dạng, có thể là nướng, chiên, xào. Ngoài ra, còn có bán tươi sống hoặc ngâm rượu.</p>

    <h1>• Khô, Mắm</h1>
    <br>
    <img src="/static/TinhBien/KhoMam.jpg" width="600" height="400">
    <br><br>
    <p>An Giang là vùng đất của rất nhiều loại khô mắm đặc trưng. Đến đây, đi đâu bạn cũng dẽ dàng bắt gặp những hàng bán khô mắm đa dạng và phong phú. Chợ biên giới Tịnh Biên cũng là một trong những khu chợ bán khô, mắm cực kỳ nổi tiếng ở An Giang.</p>
    <p>Khi bước chân vào đến chợ, bạn có thể dễ dàng ngửi thấy mùi mắm xộc thẳng vào mũi. Đi vào phía trong khu chợ là rất nhiều gian hàng bán khô, mắm dần dần hiện ra. Khô mắm ở đây ăn cực kỳ ngon và giá lại vô cùng phải chăng. Nếu đến chợ Tịnh Biên, nhất định bạn phải mua khô, mắm về làm quà nhé. Đây là một loại đặc sẳn rất đặc trưng của vùng An Giang đấy!</p>

    <h1>• Thốt Nốt</h1>
    <br>
    <img src="/static/TinhBien/ThotNot.jpg" width="600" height="400">
    <br><br>
    <p>Bên cạnh khô, mắm thì thốt nốt cũng là một trong những đặc sản nổi tiếng của vùng xứ Bảy Núi. Vào cổng chợ biên giới Tịnh Biên một đoạn, bạn sẽ thấy một hàng bán thốt nốt cực kỳ đông đúc. Bạn nhớ ghé đến thưởng thức nước thốt nốt mát rượi, thơm ngon và có thể mua những trái thốt nốt tươi về làm quà nhé.</p>

{% endblock %}

{% block section3 %}
    <h1 class="title1">PHƯƠNG TIỆN</h1>
    <hr>
    <p>Từ Sài Gòn, các bạn có thể đặt cho mình một vé xe khứ hồi từ nơi bạn ở để du lịch Tịnh Biên An Giang. Với quãng đường dài gần 260km, bạn sẽ mất khoảng 5 tiếng 30 phút di chuyển đến đây bằng xe khách. Nếu lựa chọn đi bằng xe máy, hãy trang bị cho bản thân đầy đủ đồ bảo hộ và các vật dụng cần thiết khác để giúp chuyến đi của bạn an toàn và trọn vẹn hơn.</p>
    <p>Xuất phát từ thành phố Hồ Chí Minh, bạn chạy dọc theo con đường Bình Chánh đến vòng xoay thì rẽ vào Quốc lộ 1A. Chạy tầm hơn 30km, các bạn sẽ đặt chân đến thành phố Mỹ Tho thuộc tỉnh Tiền Giang. Hãy lấy nơi đây làm điểm dừng chân để nạp năng lượng cho chuyến đi bằng những món ăn dân dã. Sau khi nghỉ ngơi, ăn uống, các bạn tiếp tục men theo con đường Quốc lộ 1A thêm 16km sẽ đến được thành phố Sa Đéc. Tiếp đó, rẽ vào quốc lộ 80 hơn 35km nữa qua phà Vàm Cống là bạn đã thành công đặt chân lên vùng đất An Giang xinh đẹp này rồi.</p>
{% endblock %}

{% block section4 %}
    <div class="container mt-3">
        <form action="/tinhbien" method="POST">
        <input class="form-control w-auto" placeholder="Nhập tên của bạn" name="ten">
        <div class="mb-3 mt-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" placeholder="Viết bình luận..." id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Bình Luận</button>
        </form>
    </div>
    <main class="container-fluid py-5 text-center">
        <table class="table table-striped">
        <thead>
            <tr>
            <th class="text-start">Các bình luận:</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(count[0]["count"]) %}
            <tr>
            <td class="text-start">
                <p> {{ comments[i]["date"] }} </p>
                <p> From {{ comments[i]["username"] }}: </p>
                <p> {{ comments[i]["comment"] }} </p>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
{% endblock %}