{% extends "layout.html" %}

{% block title %}
    Tri Tôn
{% endblock %}

{% block thumbnail %}
    <br>
    <img src="/static/TriTon/ThumbTriTon.png"  style="width:100%">
{% endblock %}

{% block section1 %}
    <h1 class="title1">ĐỊA ĐIỂM</h1>
    <hr>
    <h1>1. Hồ Tà Pạ</h1>
    <br>
    <img src="/static/TriTon/HoTaPa.jpg" width="600" height="400">
    <br><br>
    <p>Hồ Đá Đồi Tà Pạ là hồ nước nhân tạo, hình thành sau quá trình con người khai thác đá. Thế nhưng, vẻ đẹp của nơi đây lại không hề thua kém bất cứ một hồ nước tự nhiên nào. Làn nước hồ trong xanh, đáy nước lấp lánh những màu sắc của đá vôi phản chiếu. Xung quanh hồ là những ngọn núi hùng vĩ tạo nên một không gian tĩnh lặng, mơ màng nên mới được các tín đồ du lịch mệnh danh là Tuyệt tình cốc của An Giang.</p>
    <p>Trong hành trình du lịch Tri Tôn An Giang, bạn có thể chọn đến hồ Đá Đồi để tham quan, ngắm cảnh, tổ chức picnic hoặc cắm trại qua đêm. Vì hồ nằm ở vị trí cách xa khu vực dân cư sinh sống nên không khí rất yên tĩnh, trong lành, cho bạn khoảng thời gian nghỉ ngơi đúng nghĩa.</p>

    <h1>2. Hồ Soài So</h1>
    <br>
    <img src="/static/TriTon/HoSoaiSo.jpg" width="600" height="400">
    <br><br>
    <p>Hồ Soài So nằm chênh vênh trên sườn phía Đông của dãy núi Cô Tô cao vời vợi. Từ đây, bạn có thể thu vào tầm mắt tất cả vẻ đẹp của thiên nhiên hùng vĩ, đồi núi trập trùng, ngắm nhìn những cánh đồng bao la của người dân Tri Tôn. Xung quanh đều là những ngọn núi cao nên hồ Soài So rất lặng gió, mặt nước êm đềm, sóng gợn lăn tăn. </p>
    <p>Nước hồ Soài So từ dòng suối Bạc đổ xuống và nước ngầm trong núi Cô Tô chảy ra. Xung quanh hồ là thảm thực vật vô cùng phong phú, chim hót líu lo, hoa dại nở rực rỡ, vươn mình dưới ánh nắng. Vì thế, trong hành trình du lịch Tri Tôn An Giang, bạn nhất định đừng bỏ lỡ hồ nước tuyệt đẹp được thiên nhiên ưu ái dành cho mảnh đất này nhé.</p>

    <h1>3. Hồ Ô Thum</h1>
    <br>
    <img src="/static/TriTon/HoOThum.jpg" width="600" height="400">
    <br><br>
    <p>Hồ Ô Thum là nơi dự trữ nước để phục vụ sản xuất nông nghiệp của người dân nơi đây. Hồ nằm về phía Tây của núi Cô Tô và hướng Đông của đồi Tức Dụp. Tuy sở hữu vẻ đẹp mơ màng, thơ mộng nhưng lại rất ít người biết đến hồ Ô Thum do hồ ở vị trí khá vắng vẻ, đường vào khó đi. Thế nên, nếu bạn là một người yêu thích khám phá thì đừng bỏ lỡ cơ hội đến với hồ nước này trong hành trình du lịch Tri Tôn An Giang.</p>
    <p>Giữa lòng hồ Ô Thum là một gò đất khá cao, giống như ốc đảo nhỏ xinh, xanh mướt. Người dân địa phương đã làm một cây cầu gỗ nhỏ để nối liền hai bờ và gò đất ấy giúp thuận tiện qua lại. Cây cầu gỗ đơn sơ vô tình tô điểm thêm cho vẻ đẹp của nơi đây và là góc check-in “sống ảo” cực chất lượng mà bạn không nên bỏ lỡ.</p>

    <h1>4. Hồ Latina</h1>
    <br>
    <img src="/static/TriTon/HoLatina.jpg" width="600" height="400">
    <br><br>
    <p>Tiếp theo trong sách những điểm đến hấp dẫn của du lịch Tri Tôn An Giang, chúng ta không thể bỏ qua Hồ Latina. Nơi đây thu hút các tín đồ du lịch bởi vẻ đẹp hoang sơ và hùng vĩ, xung quanh hồ là những vách đá lớn dựng đứng rất uy nghi. Hồ Latina là điểm đến yêu thích của các phượt thủ bởi nơi đây mang vẻ đẹp hài hòa giữa nước non và rừng núi. Nằm bên một ngọn núi cao ngất rộng lớn là bờ hồ Latina lặng yên với dòng nước trong vắt in hình cùng những bóng cây và vách đá. Vì vậy, đây chắc chắn là địa điểm check-in lý tưởng mà bạn không thể bỏ lỡ khi đến An Giang.</p>

    <h1>5. Hồ Ô Tà Sóc</h1>
    <br>
    <img src="/static/TriTon/HoOtasoc.jpg" width="600" height="400">
    <br><br>
    <p>Hồ Ô Tà Sóc là hồ nhân tạo, được đưa vào hoạt động từ năm 2016. Hồ được xây dựng với chức năng trữ nước để phục vụ cuộc sống và các hoạt động nông nghiệp của người dân trong vùng. Lòng hồ nằm dưới chân núi Ngọa Long, mặt hồ trong xanh, lăn tăn gợn sóng. Hồ có rất nhiều cá và thủy sản nước ngọt nên người dân thường ra đây đánh cá, vui chơi dịp cuối tuần. Những năm gần đây, nhờ du lịch Tri Tôn An Giang phát triển nên hồ Ô Tà Sóc cũng được nhiều người biết đến hơn, trở thành điểm checkin siêu hot của các tín đồ du lịch.</p>
    <p>Vì sự hoang sơ và cách biệt nên khung cảnh tại hồ Ô Tà Sóc khiến chúng ta liên tưởng đến những nơi thâm sơn cùng cốc trong các bộ phim cổ trang. Chặng đường đến hồ khá gian nan nhưng khi đến đây chắc chắn bạn sẽ vô cùng hài lòng. Quanh hồ vừa có thảm thực vật phong phú vừa có những hang động tự nhiên tuyệt đẹp. Nguồn nước ngầm từ lòng núi Ngọa Long đã nuôi dưỡng vẻ đẹp tuyệt diệu của nơi đây một cách hoàn hảo.</p>

    <h1>6. Núi Cô Tô</h1>
    <br>
    <img src="/static/TriTon/NuiCoTo.jpg" width="600" height="400">
    <br><br>
    <p>Núi Cô Tô (Phụng Hoàng Sơn) là một trong bảy ngọn làm nên Thất Sơn nức tiếng khắp lục tỉnh Nam Kỳ. Ngọn núi này nằm ở khu vực giáp ranh biên giới của Việt Nam và Campuchia. Vì vậy, từ trên đỉnh núi, bạn sẽ có thể phóng tầm mắt vừa ngắm nhìn vẻ đẹp trù phú của đất nước mình vừa ngắm thiên nhiên rực rỡ của nước bạn láng giềng. Đặc biệt, trải nghiệm cắm trại trên núi Cô Tô được rất nhiều bạn yêu thích vì có thể ngắm nhìn bình minh tuyệt đẹp. Nếu may mắn hơn, bạn còn có thể được chiêm ngưỡng biển mây tuyệt đẹp.</p>

    <h1>7. Núi Tà Pạ</h1>
    <br>
    <img src="/static/TriTon/NuiTaPa.jpg" width="600" height="400">
    <br><br>
    <p>Tiếp theo trong danh sách các điểm du lịch Tri Tôn An Giang, chúng ta phải kể đến núi Tà Pạ. Ngọn núi này khiến các tín đồ du lịch say mê bởi khung cảnh thanh bình của những rừng cây rậm rạp, bầu không khí trong lành và hơi thở êm dịu của đất trời An Giang. Bên cạnh đó, trên đỉnh núi còn có chùa Tà Pạ nức tiếng gần xa. Ngôi chùa này được xây dựng theo lối kiến trúc truyền thống của người Khmer. Đến đây, bạn sẽ cảm nhận được sự thanh tịnh trong tâm hồn, tránh xa sự ồn ã của nhịp sống phố thị hiện đại.</p>

    <h1>8. Đồi Tức Dụp</h1>
    <br>
    <img src="/static/TriTon/DoiTucDup.jpg" width="600" height="400">
    <br><br>
    <p>Đồi Tức Dụp không chỉ sở hữu vẻ đẹp thiên nhiên thanh bình, hùng vĩ mà còn mang trên mình ý nghĩa lịch sử to lớn. Nơi đây có địa hình hiểm trở nên đã trở thành căn cứ để bộ đội ta ẩn náu. Đồi Tức Dụp được ví như Vạn Lý Trường Thành của miền Tây bởi những cung đường quanh co, uốn lượn, cùng hệ thống hang động rộng lớn. Vì thế, nơi đây từng là chốn ăn ở, dưỡng thương của hàng ngàn bộ đội. Nếu bạn có dịp du lịch Tri Tôn An Giang thì đừng bỏ lỡ điểm đến hấp dẫn này nhé.</p>

{% endblock %}

{% block section2 %}
    <h1 class="title1">ẨM THỰC</h1>
    <hr>
    <h1>• Gà Đốt Lá Trúc</h1>
    <br>
    <img src="/static/TriTon/GaDot.jpg" width="600" height="400">
    <br><br>
    <p>Gà đốt lá chúc là một món ăn xuất xứ từ ẩm thực Khmer và được rất nhiều người yêu thích. Không chỉ sử dụng thịt gà, món ăn này còn thêm lá chúc, còn được gọi là lá chanh Thái, để tạo ra hương vị đặc trưng. Trước khi nướng, gà được sơ chế kỹ lưỡng và ướp cùng các gia vị như tỏi, sả, và các loại gia vị khác. Sau đó, gà được đốt trong một chiếc nồi gang dày, trong đó còn có lá chúc và sả dày đặt ở đáy để lót. Khi ăn, bạn sẽ cảm nhận được hương vị thơm ngon của thịt gà mềm và ngọt, kết hợp với lớp da giòn béo và đậm đà. Để tăng thêm hương vị cho món ăn, bạn có thể chấm gà đốt lá chúc với mắm pha hoặc muối tiêu vắt chúc. Món ăn này thường được chọn những con gà nặng từ 1.3 đến 1.8kg để đảm bảo thịt gà được ngon và đủ cho nhiều người cùng thưởng thức. Với hương vị đặc trưng và thơm ngon, gà đốt lá chúc là một món ăn không thể bỏ qua khi đến với vùng đất Tri Tôn, An Giang.</p>

    <h1>• Cháo Bò Tri Tôn</h1>
    <br>
    <img src="/static/TriTon/ChaoBo.jpg" width="600" height="400">
    <br><br>
    <p>Món cháo này được nấu từ loại gạo Sóc Miên có nguồn gốc từ Campuchia, tạo ra hương vị đặc trưng và mùi thơm khi cháo được nấu chín. Món cháo bò này không thể thiếu những nguyên liệu như huyết và thịt bò, và được ăn kèm với giá đỗ, ngò gai và các nguyên liệu khác như phèo, tim, gan đã được luộc chín. Tùy vào khẩu vị và sở thích của người ăn, người bán còn có thể thêm vào món cháo bò Tri Tôn các nguyên liệu khác để tăng thêm hương vị. Khi được phục vụ, cháo bò Tri Tôn được cho thêm một chén mắm gừng ớt và vài miếng chúc cắt nhỏ để tạo ra hương vị đậm đà và hấp dẫn. Món cháo này vừa đậm đà, vừa có vị chua hài hoà, tạo cảm giác ấm áp và dễ chịu cho người ăn. Với hương vị đặc trưng và mùi thơm của gạo Sóc Miên, cháo bò Tri Tôn là một món ăn tuyệt vời để thưởng thức khi đến với vùng đất Tri Tôn, An Giang.</p>

    <h1>• Đu Đủ Đâm</h1>
    <br>
    <img src="/static/TriTon/DuDuDam.jpg" width="600" height="400">
    <br><br>
    <p>Món ăn này cũng được chế biến từ nguyên liệu chính là sợi đu đủ bào, tuy nhiên nó khác với món Som Tum bởi vì có vị ngọt và dễ ăn hơn khá nhiều. Đu đủ được sử dụng để làm món này thường là quả xanh bắt đầu chuyển sang ương, giúp sợi đu đủ giòn nhưng vẫn giữ được một chút ngọt ngọt. Ngoài đu đủ, người chế biến còn sử dụng nhiều nguyên liệu khác như rau muống chẻ, mắm ruốc, ba khía, đậu đũa, cà rốt… để tăng thêm hương vị và sự đa dạng cho món ăn.</p>

    <h1>• Ếch Nhồi Thịt Nướng Kiểu Campuchia</h1>
    <br>
    <img src="/static/TriTon/EchNhoiThit.jpg" width="600" height="400">
    <br><br>
    <p>Đây là một món ăn vặt phổ biến ở Tri Tôn mà bạn có thể dễ dàng tìm thấy. Sau khi sơ chế sạch,ếch được nhồi với nhân thịt heo băm nhuyễn và gia vị như lá chúc, nghệ và sả. Sau đó, được kẹp trên thanh tre mỏng và nướng chín. Trong quá trình nướng, người bán sẽ giữ cho thịt ếch nướng bên ngoài giòn và cháy một chút nhưng không bị khô hay cháy. Một trong những đặc điểm đặc biệt của món ăn này là nước chấm được làm từ me non dằm cùng tỏi và gừng, mang đến vị mặn ngọt và chua dịu hấp dẫn khi ăn.</p>

    <h1>• Thốt Nốt Sữa</h1>
    <br>
    <img src="/static/TriTon/ThotNotSua.jpg" width="600" height="400">
    <br><br>
    <p>Thốt nốt sữa là một trong những món ăn đặc trưng của Tri Tôn và nhiều huyện khác của tỉnh An Giang. Ngoài nước thốt nốt truyền thống, bạn cũng có thể thưởng thức phiên bản thốt nốt sữa thú vị. Để làm món này, nước thốt nốt sẽ được đặt trong tủ lạnh và đợi cho đến khi có cảm giác sần sật như đá bào. Sau đó, người ta sẽ thêm sữa bò và đậu phộng rang vàng vào ly nước thốt nốt. Món thốt nốt sữa này thật sự hấp dẫn và có thể dễ dàng tìm thấy tại khu di tích lịch sử Căn cứ Ô Tà Sóc, thuộc xã Lương Phi, Tri Tôn.</p>

{% endblock %}

{% block section3 %}
    <h1 class="title1">PHƯƠNG TIỆN</h1>
    <hr>
    <p>Nhiều nhiều cách thức di chuyển đến Tri Tôn dành cho những ai mới đi lần đầu. Phương tiện phổ biến nhất chính là xe khách, hãy ra bến xe miền tây và chọn lựa hãng xe uy tín để đến với Tri Tôn nhé. Một hình thức khác được nhiều bạn trẻ chọn đó chính là đi phượt du lịch Tri Tôn bằng xe máy.

        Đường đi thi phụ thuộc vào địa điểm bạn ghé thăm khi đến Tri Tôn: Nếu đi hồ Tà Pạ, du khách đi theo tuyến đường 15, rẽ vào một đoạn đường nắng sẽ đến cổng chùa Tà Pạ. Sau đó rẽ phía bên phải sẽ lên đồi Tà Pạ.</p>

{% endblock %}

{% block section4 %}
    <div class="container mt-3">
        <form action="/triton" method="POST">
        <input class="form-control w-auto" placeholder="Nhập tên của bạn" name="ten">
        <div class="mb-3 mt-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" placeholder="Viết bình luận..." id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Bình Luận</button>
        </form>
    </div>
    <main class="container-fluid py-5 text-center">
        <table class="table table-striped">
        <thead>
            <tr>
            <th class="text-start">Các bình luận:</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(count[0]["count"]) %}
            <tr>
            <td class="text-start">
                <p> {{ comments[i]["date"] }} </p>
                <p> From {{ comments[i]["username"] }}: </p>
                <p> {{ comments[i]["comment"] }} </p>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
{% endblock %}